<div>
  <ul class="card list-group list-group-flush ul-wrapper">
    <li class="list-group-item">
      <h2></h2>
      <ul class="ul-nested">

        <li class="li-data-row list-group-item">
          <span class="font-weight-bold">Total: </span> <span></span>
        </li>
        <li class="li-data-row list-group-item">
          <span class="font-weight-bold">New: </span> <span></span>
        </li>

        <ul class="ul-nested">
          <li class="li-data-row list-group-item">
            <span class="font-weight-bold">Active: </span> <span></span>
          </li>
          <li class="li-data-row list-group-item">
            <span class="font-weight-bold">Critical: </span> <span></span>
          </li>
          <li class="li-data-row list-group-item">
            <span class="font-weight-bold">Recovered: </span> <span></span>
          </li>
        </ul>

      </ul>
    </li>
    <li class="list-group-item">
      <h5>Deaths</h5>
      <ul class="ul-nested">
        <li class="li-data-row list-group-item">
          <span class="font-weight-bold">New: </span> <span></span>
        </li>
        <li class="li-data-row list-group-item">
          <span class="font-weight-bold">Total: </span> <span></span>
        </li>
      </ul>
    </li>
  </ul>
</div>
