
$deaths_clr: lightgray;

.ul-wrapper{
    width: 30rem; 
    display:inline-flex;
    margin: 10px;
    background-color: rgba(225, 50, 65, 0.6);

    .list-group-item{
        background-color: transparent;
    }

    .ul-nested{
        padding: 0;
        margin: 0 0 10px;
        &:last-child{
            margin: 0;

            li{
                border: 0;
            }
        }

        
    }

    .li-data-row{
        display:inline-flex;
        padding: 10px 10px;

        span{
            display: block;
        }

    }

    .lghtgray_bg{
        background-color: $deaths_clr;
        
    }
}
.font-weight-bold {
    padding-right: 7px;
}