<div class="row-2" *ngIf='allCoronaStats'>
  <p>
    Date: {{ date }}
  </p>
  <div>
    Search by country:
    <input type="text" [(ngModel)]='countryStats' />
  </div>
  <div *ngIf="">
    Filter:
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Continent</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf='filteredCoronaStatsResponse.length > 0'>
    <p>
      Results: {{filteredCoronaStatsResponse.length}}
    </p>
    <ul class="card list-group list-group-flush ul-wrapper" *ngFor='let stat of filteredCoronaStatsResponse; index: 10;'>
      <li class="list-group-item">
        <a routerLinkActive='active' [routerLink]="['/statistics', stat.country | lowercase ]">
          <h2>{{stat.country}}</h2>
        </a>
        <ul class="ul-nested">
          <li class="li-data-row list-group-item">
            <span class="font-weight-bold">Total: </span> <span>{{stat.cases.total}}</span>
          </li>
          <li class="li-data-row list-group-item">
            <span class="font-weight-bold">Deaths: </span> <span>{{stat.deaths.total}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
